hr {
  margin: 11px 0px 60px 0px;
  border: 0px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  @media (max-width: 1170px) {
    margin: 11px 0px var(--spacing-xl) 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
}

body {
  font: 16px/1.625 "PT Serif", serif;
  color: #212020;
  background-color: #efefef;
}
