{{!-- Previous/next page links - only displayed on page 2+ --}}
<!--<div class="extra-pagination inner">-->

<!--</div>-->

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="mateblock post-feed">
    {{#foreach posts limit="11"}}
        {{> "post-card" }}
    {{/foreach}}
</div>
{{!-- 
<button type="button" id="load-posts" class="button more">
    показать больше
</button> 
--}}
{{#if pagination.pages}}
    <script>
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
{{/if}}
{{!-- Previous/next page links - displayed on every page --}}