{{!-- Previous/next page links - only displayed on page 2+ --}}
<!--<div class="extra-pagination inner">-->

<!--</div>-->

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="mateblock post-feed">
  {{#get "posts" filter="featured:true" include="tags" limit="1"}}
    {{#foreach posts}}
      {{> "post-card" imageSizes="600px"}}
    {{/foreach}}
  {{/get}}

  {{#get "posts" include="tags, authors, excerpt" filter="primary_tag:-[newsblock,hidden]" limit="14"}}
    {{#foreach posts}}
      {{> "post-card"}}
    {{/foreach}}
  {{/get}}
</div>