{{!-- Previous/next page links - only displayed on page 2+ --}}
<!--<div class="extra-pagination inner">-->

<!--</div>-->

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="mateblock postfeed">
    {{#get "posts" include="tags,author,excerpt" filter="featured:true" order="published_at desc"}}
        {{#foreach posts limit="1"}}
            {{> "post-card"}}
        {{/foreach}}
    {{/get}}
    </div>

<div class="mateblock postfeed">
    {{#get "posts" include="tags, author, excerpt" filter="primary_tag:review+featured:false"}}
        {{#foreach posts limit="6"}}
            {{^has tag="newsblock"}}
            {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    {{/get}}
</div>

<div class="mateblock postfeed">
    {{#get "posts" include="tags, author, excerpt" filter="primary_tag:top+featured:false"}}
        {{#foreach posts limit="6"}}
            {{^has tag="newsblock"}}
            {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    {{/get}}
</div>

<div class="mateblock postfeed">
    {{#get "posts" include="tags, author, excerpt" filter="primary_tag:shows+featured:false" limit="6"}}
        {{#foreach posts}}
            {{^has tag="newsblock"}}
            {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    {{/get}}
</div>
<div class="mateblock postfeed">
    {{#get "posts" include="tags, author, excerpt" filter="primary_tag:interviews+featured:false" limit="6"}}
        {{#foreach posts}}
            {{^has tag="newsblock"}}
            {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    {{/get}}
</div>
<div class="mateblock postfeed">
    {{#get "posts" include="tags, author, excerpt" filter="primary_tag:events+featured:false" limit="6"}}
        {{#foreach posts}}
            {{^has tag="newsblock"}}
            {{> "post-card"}}
            {{/has}}
        {{/foreach}}
    {{/get}}
</div>
