{{!-- Previous/next page links - only displayed on page 2+ --}}
<!--<div class="extra-pagination inner">-->

<!--</div>-->

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="post-feed">
  {{#get "posts" include="tags,authors,excerpt" filter="featured:true" order="published_at desc"}}
    {{#foreach posts limit="1"}}
      {{> "post-card" imageSizes="960px"}}
    {{/foreach}}
  {{/get}}
  {{#get "posts" include="tags, authors, excerpt" filter="primary_tag:-[newsblock,hidden]+featured:false"}}
    {{#foreach posts limit="13"}}
      {{> "post-card"}}
    {{/foreach}}
  {{/get}}
</div>