.cover {
  max-height: 530px;
  margin-bottom: 50px;
  overflow: hidden;
}

.post-feed {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.content {
  grid-column: 1 / -1;

  @media (min-width: 768px) {
    grid-column: 1 / span 12;
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 42px;
}
