.article {
  background-color: #fff;
}

.type {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.2;

  padding: 3px 5px;
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans";
  font-weight: 700;
  text-transform: capitalize;

  .fullnew & {
    top: 40px;
    left: 40px;
    padding: 0;
    background-color: transparent;

    @media (max-width: 560px) {
      left: 4.5%;
      top: 25px;
    }

    @media (max-width: 690px) {
      font-size: 14px;
    }
  }
}

.post-header {
  height: 500px;
  overflow: hidden;

  @media (min-width: 1366px) {
    height: 620px;
    padding: 80px 40px;
  }

  @media (max-width: 1280px) {
    height: 400px;
  }

  @media (max-width: 960px) {
    height: 360px;
  }

  @media (max-width: 560px) {
    height: 300px;
  }

  &__meta {
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 80px 40px;
    backdrop-filter: brightness(50%);

    @media (max-width: 560px) {
      padding: 80px 4.5%;
    }

    .author {
      color: #fff;
      margin-top: 50px;
      font-size: 16px;
      bottom: var(--spacing-xl);
      position: absolute;

      @media (max-width: 960px) {
        font-size: 14px;
      }
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title {
    max-width: 675px;
    bottom: 120px;
    position: absolute;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 0px;
    color: white;

    @media (min-width: 960px) {
      font-size: 22px;
    }

    @media (min-width: 1280px) {
      font-size: 25px;
    }

    @media (min-width: 1366px) {
      margin: 285px 0 0;
      font-size: 28px;
    }
  }
}

.post-footer {
  padding: var(--spacing-large) 8.3333333% 8.33333333%;

  @media (max-width: 1280px) {
    font-size: 16px;
  }

  @media (max-width: 960px) {
    font-size: 14px;
    padding: 6.5%;
  }

  @media (max-width: 560px) {
    padding: 4.5%;
  }
}

.prose {
  font-size: 1.125rem;
  line-height: 1.7777778;
  max-width: 70ch;
  margin: 0 auto;

  @media (max-width: 1280px) {
    font-size: 16px;
  }

  @media (max-width: 960px) {
    font-size: 14px;
    padding: 6.5% 0;
  }

  @media (max-width: 560px) {
    padding: 4.5% 0;
  }

  article {
    display: none;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: none;
    max-width: 600px;
    margin: 0 auto 40px;
    display: block;

    @media (min-width: 1366px) {
      max-width: 800px;
    }

    .cite {
      position: relative;
      display: block;
      float: left;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      padding: var(--spacing-large) var(--spacing);
      color: black;

      margin: var(--spacing) 0 50px;
      border: 1px solid #eaeaea;
      border-left: 0;
      border-right: 0;

      @media (min-width: 960px) {
        width: 45%;
        font-size: 20px;
        margin-right: 50px;
      }

      @media (min-width: 1366px) {
        padding: var(--spacing-large) 40px;
      }

      &:before {
        color: #eaeaea;
        content: "\201C";
        font-size: 3em;
        line-height: 0.1em;
        margin-right: 0.2em;
        vertical-align: -0.4em;
        font-family: georgia;

        @media (min-width: 1366px) {
          position: absolute;
          top: 45px;
          left: 0;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 80px;
  }

  h2 {
    font-size: 28px;
    color: #212020;
    margin-top: 80px;
  }

  h1 {
    margin-top: 0;
  }

  a {
    display: inline;
    border-bottom: solid 1px black;

    &:hover {
      border-bottom: none;
    }
  }

  .picture {
    width: 100%;
    max-width: 100%;
    margin: 40px 0px;

    em {
      display: block;
      text-align: center;
      font-style: normal;
      margin-top: 8px;
      color: $text-color-gray;
    }
  }

  figcaption {
    text-align: center;
    color: $text-color-gray;
    margin-top: 8px;
  }

  .paragraph {
    &--has-cite {
      width: 100%;
      max-width: 100%;
    }
  }
}

blockquote {
  position: relative;
  display: block;
  font-style: italic;
  padding: var(--base-spacing) 0px;
  color: var(--color-gray);
}

blockquote:before {
  color: var(--color-gray);
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  font-family: georgia;
}

blockquote:after {
  color: var(--color-gray);
  content: "\201D"; /* Непечатаемый символ справа */
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  font-family: georgia;
}

blockquote > p:first-child {
  display: inline;
}

.video-container {
  margin: 40px 0;
}
