{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="content" class="content js-content {{body_class}}" role="main">

{{#get "posts" filter="primary_tag:newsblock"}}
  <section class="posts">
    <header class="posts-title">Последние новости: </header>
    <section class="posts-list">
    {{#foreach posts limit="6"}}
      {{> "post-small"}}
    {{/foreach}}
    </section>
  </section>
{{/get}}

{{#get "posts" filter="primary_tag:reviews"}}
  <section class="posts">
    <header class="posts-title">Рецензии: </header>
    <section class="posts-list">
    {{#foreach posts limit="6"}}
      {{> "post-card"}}
    {{/foreach}}
    </section>
  </section>
{{/get}}

{{#get "posts" filter="primary_tag:movies"}}
  <section class="posts">
    <header class="posts-title">Про кино: </header>
    <section class="posts-list">
    {{#foreach posts limit="6"}}
      {{> "post-card"}}
    {{/foreach}}
    </section>
  </section>     
{{/get}}

{{#get "posts" filter="primary_tag:shows"}}
  <section class="posts">
    <header class="posts-title">Про сериалы: </header>
    <section class="posts-list">
    {{#foreach posts limit="6"}}
      {{> "post-card"}}
    {{/foreach}}
    </section>
  </section> 
{{/get}}

{{#get "posts" filter="primary_tag:events"}}
  <section class="posts">
    <header class="posts-title">Про события: </header>
    <section class="posts-list">
    {{#foreach posts limit="6"}}
      {{> "post-card"}}
    {{/foreach}}
    </section>
  </section> 
{{/get}}

{{#if pagination.pages}}
  <script>
    var maxPages = parseInt('{{pagination.pages}}');
  </script>
{{/if}}
</main>
