{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<main id="content" class="content js-content" role="main">

    {{!-- The tag below includes the post loop - partials/main.hbs --}}
    {{> "main"}}

</main>
