{{!< default}}

<section class="content newsblock">
{{#foreach posts}}
  <section class="post">
    <figure>
      {{#has tag="slowpoke"}} 
      <img src="https://thumbs.gfycat.com/SmoggyFocusedGuernseycow-max-1mb.gif" /> 
      {{else}}
      <img src="{{feature_image}}" /> 
      {{/has}}
    </figure>
    <p><b>{{title}}</b> {{excerpt words="20"}}</p>
  </section>
{{/foreach}}
</section>

