  .poster {
	padding: 20px;
	border: 2px solid black;
	-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.15);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.15);
  
  @media(max-width: 1280px) {
		padding: 10px;
	}
	@media(max-width: 1160px) {
			padding: 0px;
		}

  &__content {
    display: block;
    background-color: white;
    color: #32e49b;
    font-size: 18px;
    text-align: center;
    font-family: 'proxima_nova_rgbold';
    text-decoration: none !important;

    figure {
      margin: 0;
      height: 175px;
      position: relative;
      overflow: hidden;

      @media(min-width: 1366px) {
        height: 225px;
      }

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h2 {
      padding: 15px 20px 15px;      
      margin: 0;
      font-size: 22px;
      text-decoration: none;

      @media(min-width: 1366px) {
        padding: 45px 20px 30px;
      }
	  
		@media(max-width:1366px) {
			font-size: 16px;
		}
		
		@media(max-width: 1160px) {
			font-size: 12px;
		}

    }

    h4 {
      color: #1ed2cc;
      margin: 0;
      font-size: 22px;
      padding-bottom: 15px;

      @media(min-width:1366px) {
        padding-bottom: 35px;
      }
	  
	  @media(max-width:1366px) {
		font-size: 16px;
      }
    }
  }
}
