.news img {
  width: 100%;
  margin-bottom: 20px;
}
.news {
  padding: 20px 0px;
  border-bottom: 1px solid #e8e8e8;
}
.news a {
  text-decoration: none;
  color: #212020;
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}