.recent {
  margin-bottom: $base-spacing;
}

.newsfeed {
  display: flex;
  flex-direction: column;

  margin-bottom: $base-spacing;

  background-color: white;

  list-style: none;

  .type {
    top: 0;
  }

  .news {
    display: block;
    border-bottom: solid 1px #e8e8e8;
    padding: $base-spacing;

    font: 14px/1.4 'proxima_nova_rgregular';
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #212020;
    }
  }

  .news-meta {
    margin-bottom: $spacing / 2;
  }

  img {
    width: 100%;
    margin-bottom: 20px;
  }
}