.share {
  background: white;
  padding: 20px;
  width: 100%;
  margin-top: 40px;
}

.share-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: 'proxima_nova_rgregular';

  a {
    flex: 1 1 auto;
    text-align: center;
    border-right: solid 1px black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}