.newsblock {
  display flex
  flex-direction column

  .post {
    display flex
    flex-direction row
    font-family font-family-regular
    font-size 20px 

    figure {
      flex 0 0 100px
      margin-right spacing

      img {
        width 100%
      }
    }
  }
}