.read-next-card {
  display: flex;
  position: relative;
  flex: 1 1 300px;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  padding: 0;
  color: #fff;
  background: white;
  background-size: cover;
  border-radius: 5px;

  &__header,
  &__content,
  &__footer {
    color: $text-color-default;

    a {
      color: $text-color-default;
    }
  }

  &__header {
    text-align: center;
  }

  &__content,
  &__footer {
    text-align: left;

    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px 20px 0;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
    }

    a {
      font: 14px/1.25 'PT Serif', serif;
      display: block;
      padding: 10px 0;
      color: $text-color-default;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  &__footer {
    padding: 0 20px 20px;
    font: 14px/1.25 'PT Serif', serif;
  }
}
