assets-dir = "/assets/"

base-header-height = 165px;

spacing = 10px;
base-spacing = 15px;

spacing-small = spacing / 2;
spacing-large =  spacing * 2;
spacing-extralarge =  spacing * 3;

letter-spacing-default =  0;
letter-spacing-headings =  1px;

text-color-default = #42413C;

heading-color-active = #1ed2cc;