.tags {
  max-width: 800px;
  margin: 0 auto;
  padding: $spacing-large 0;
  border-top: solid 1px black ;
  font-family: $font-family-regular;
  display: flex;
  flex-direction: row;

  .tag-label {
    flex: 0
  }

  .tags-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-transform: uppercase;
    margin-left: $spacing-large;
  }

  .tag, a.tag {
    background: black;
    padding: 3px 5px;
    background-color: #000;
    color: #fff;
    position: relative;
    height: 25px;
    line-height: 20px;
    transform-origin: 0% 100%;
    text-align: right;
    margin-right: $spacing-small;
    text-transform: uppercase;
    font-family: $font-family-regular;
  }
}