.poster {
  padding: var(--spacing-large);
  border: 2px solid black;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.15);

  @media (max-width: 1280px) {
    padding: var(--spacing);
  }
  @media (max-width: 1160px) {
    padding: 0px;
  }

  &__content {
    background-color: white;
    font-size: 18px;
    text-align: center;

    figure {
      height: 175px;
      position: relative;

      @media (min-width: 1366px) {
        height: 225px;
      }

      img {
        position: absolute;
        height: 100%;
        object-fit: cover;
      }
    }

    h2 {
      padding: var(--base-spacing) var(--spacing-large) var(--base-spacing);
      margin: 0;
      font-size: 22px;
      text-decoration: none;

      @media (min-width: 1366px) {
        padding: 45px var(--spacing-large) 30px;
      }

      @media (max-width: 1366px) {
        font-size: 16px;
      }

      @media (max-width: 1160px) {
        font-size: 12px;
      }
    }

    h4 {
      color: #1ed2cc;
      margin: 0;
      font-size: 22px;
      padding-bottom: var(--base-spacing);

      @media (min-width: 1366px) {
        padding-bottom: 35px;
      }

      @media (max-width: 1366px) {
        font-size: 16px;
      }
    }
  }
}

.commercial {
  float: right;
  max-width: 380px;
  width: 22.35294117647059%;
  padding: 0px 0;

  @media (max-width: 690px) {
    display: none;
  }
}

.banner {
  width: 100%;
}
