.footer {
  padding: 110px 0;
  background-color: #262626;
  position: relative;
  margin-top: 110px;
  font-family: "Noto Sans";
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-socials {
  background-color: transparent;
  color: #707070;
  font-size: 16px;
  padding: 6px var(--spacing-large) var(--spacing-large) var(--spacing-large);
}

.footer .logosmall {
  display: block;
  margin-bottom: 10px;
}

.footer .logosmall img {
  width: 70%;
}

.footer .socials img {
  width: 38px;
  display: inline-block;
}

.footer .socials {
  margin-top: var(--spacing-large);
  opacity: 0.2;
}

.footer .socials a {
  margin-right: 10px;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #efefef;
  text-decoration: none;
  font-size: 16px;
  margin-right: 2%;

  &:hover {
    text-decoration: underline;
  }
}
