.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-socials {
  background-color: transparent;
  color: #707070;
  font-size: 16px;
  padding: 6px var(--spacing-large) var(--spacing-large) var(--spacing-large);
}

.footer {
  padding: 110px 0;
  background-color: #262626;
  position: relative;
  margin-top: 110px;
  font-family: "Noto Sans";

  @media (max-width: 690px) {
    padding: var(--spacing-xl) 0;
  }

  .logosmall {
    display: block;
    margin-bottom: 10px;

    img {
      width: 70%;

      @media (max-width: 1160px) {
        width: 100%;
      }
    }
  }

  .socials {
    margin-top: var(--spacing-large);
    opacity: 0.2;
    display: flex;
    gap: 10px;

    a {
      margin-top: 10px;
      width: 38px;

      svg {
        height: auto;
        width: 100%;
      }

      @media (max-width: 1160px) {
        margin-right: 2px;
      }

      @media (max-width: 1440px) {
        width: 25px;
      }
    }
  }
}

.footer-links {
  display: flex;
  flex-direction: column;

  a {
    color: #efefef;
    text-decoration: none;
    font-size: 16px;
    margin-right: 2%;

    &:hover {
      text-decoration: underline;
    }
  }
}
