.header {
  padding: var(--spacing-xl) 0px;
  background: white;
  z-index: 10;
}

.header-container {
  position: relative;
  max-width: 1700px;
  padding: 0px 50px;
  margin: 0 auto;

  @media (max-width: 975px) {
    padding: 0 var(--spacing-large);
  }
}

.logo {
  float: left;

  img {
    max-width: 285px;
    position: relative;
    z-index: 101;
  }
}

.whiteplank {
  height: 36%;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #fff;

  @media all and (max-width: 1170px) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.nav-socials {
  display: flex;
  align-items: center;
  font-size: 18px;

  @media (max-width: 1170px) {
    justify-content: center;
    margin-top: var(--spacing);
    padding-top: 35px;
    border-top: 1px solid #e8e8e8;
  }

  a {
    text-decoration: none;
    color: #1c0f06;

    & + a {
      margin-left: var(--spacing-large);
    }
  }
}

.search-init {
  padding: 0;
  margin-left: var(--spacing-large);
  font-size: 14px;
  width: 24px;
}
