.news {
  padding: var(--spacing-large) 0;
  border-bottom: 1px solid #ccc;

  &:last-of-type {
    border-bottom: 0;
  }

  img {
    margin-bottom: var(--spacing-large);
  }

  h3 {
    text-transform: none;
    font-weight: 500;
  }

  time {
    font-size: 0.9em;
  }
}

.sidebar {
  grid-column: 1 / -1;
  margin-bottom: var(--spacing-large);

  @media (min-width: 768px) {
    grid-column: 13 / -1;
  }

  h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
  }
}
