.site-footer {
  background-color: #262626;
  position: relative;
  padding: 40px 0;
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  margin-top: 100px;

  @media(max-width: 767px) {
    padding: 20px 0;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    color: #efefef;

    .logosmall {
      width: 50%;
      margin-bottom: 10px;

      @media(max-width: 452px) {
        width: 70%;
      }

      img {
        width: 100%;
      }
    }
  }

  &__subscriptions {
    display: flex;
    flex-direction: column;
    flex: 0;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;

    @media(max-width: 767px) {
      display: block;
      margin-top: 20px;
    }

    a {
      color: hsla(0,0%,100%,.7);
      text-decoration: none;
      font-size: 100%;
      
      &:not(:last-child) {
        margin-right: 2%;
      }

      @media(max-width: 767px) {
        font-size: 80%;
      }

      &:hover {
        color: hsla(0,0%,100%,1);
        transition: color .2s;
      }
    }
  }
}

.subscription {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;

  &__title {
    color: rgba(255, 255, 255, 0.7);;
  }
}

.subscribe-form {

}

.subscribe-input {
  width: 100%;
  padding: 5px;
}

.subscribe-button {
  width: 100%;
  background: transparent;
  outline: 0;
  color: rgba(255, 255, 255, 0.7) !important;
  border-color: white;
}

.copyright {
  color: hsla(0,0%,100%,.7);

  a {
    color: hsla(0,0%,100%,.7);
    text-decoration: none;

    &:hover{
      color: hsla(0,0%,100%,1);
      transition: color .2s;
    }
  }
}

.socials {
  margin-top: 20px;
  opacity: 0.2;

  a {
    margin-right: 10px;
  }

  img {
    width: 38px;
  }
}

