.header {
  margin-bottom: base-spacing;
  background: white;
  z-index: 10;

  @media tablet {
    padding: spacing-large 0px;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;

    @media (max-width: 975px) {
      padding: 0;
    }
  }
}

.nav {
  position: relative;
  
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  height: 6rem;

  @media tablet {
    height: auto;  
  }

  .logo  {
    width: 100%;
    max-width: 25rem;

    img { 
      width: 100%;
    }

    @media all and (max-width:1170px) {
      max-width: 236px;
    }
  }
}