.site-navigation
  position relative 
  background-size cover
  background-position center center
  // height 500px

.site-navigation::before 
  content: ''
  position absolute
  top 0 
  left 0 
  right 0 
  bottom 0
  background-color: rgba(0, 0, 0, 0.7)

.navigation
  display flex
  flex-direction row