.share {
  display flex
  flex-direction row
  background: white;
  padding: spacing-large 0;
  width: 100%;
  margin-top: 40px;
  font-family: font-family-regular
}

.share-label 
  flex 0

.share-list {
  flex 1
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;

  a {
    flex: 1 1 auto;
    text-align: center;
    border-right: solid 1px black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}