.site-nav 
  display flex
  align-items center
  justify-content space-between
  position relative

.site-nav-left,
.site-nav-right 
  display flex
  align-items center

.social-links
  color white
  a
    font-size 2rem
    margin 0 spacing
    color white
    text-decoration none
    transition color .2s ease-in-out
    &:hover
      color rgba(255, 255, 255, 0.6)
      text-decoration none