.read-next {
  // border-top: solid 1px black
}

.read-next-title {
  margin: spacing-large 0;
  heading(30px)
}

.prev-next {
  display: flex;
  flex-direction: row;
  margin: 0;
  // margin-right: -(spacing-large);
  // margin-left: -(spacing-large);
  font-family: font-family-regular;
}

.prev {
  margin-right: spacing-large;
}

.prev-title,
.next-title {
  margin: spacing-large 0;
}
.read-next-feed {
  display: flex;
  flex-flow: row wrap;
  margin-left: -(base-spacing / 2);
  margin-right: -(base-spacing / 2);

  .post-card {
    position: relative;
    min-height: 0;
    margin: (base-spacing / 2);
    flex: 1 1 20rem;

    border-top: solid 1px black;

    .post-card-title {
      color: white;
      z-index: 6;
    }

    .post-card-content__link {
      z-index: 6;
      padding: base-spacing;
    }

    .post-card-content:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
      z-index: 5;
      transition: background .3s ease-in-out;
    }

    &:hover {
      .post-card-content:after {
        background: rgba(0, 0, 0, .3);
      }
    }
  }
}