.read-next 
  border-top: solid 1px black

.read-next-title 
  margin spacing-large 0
  heading(30px)

.prev-next 
  display flex
  flex-direction row
  margin: 0
  margin-right -(spacing-large) 
  margin-left -(spacing-large) 
  font-family font-family-regular

  .prev, .next 
    flex: 1 1 300px

.prev-title,
.next-title 
  margin spacing-large

.read-next-feed
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;