.read-next {
  // border-top: solid 1px black
}

.read-next-title {
  margin: spacing-large 0;
  heading(30px)
}

.prev-next {
  display: flex;
  flex-direction: row;
  margin: 0;
  // margin-right: -(spacing-large);
  // margin-left: -(spacing-large);
  font-family: font-family-regular;
}

.prev {
  margin-right: spacing-large;
}

.prev-title,
.next-title {
  margin: spacing-large 0;
}
.read-next-feed {
  display: flex;
  flex-flow: column wrap;
  margin-left: -(spacing-large);
  margin-right: -(spacing-large);

  .post-card {
    min-height: 0;
    flex: 1;
    margin: 0 base-spacing;

    border-top: solid 1px black;
  }
}