@import "./base/normalize";
@import "./base/variables";
@import "./base/reset";
@import "./layout/grid";
@import "./modules/header";
@import "./modules/footer";
@import "./modules/commercial";
@import "./modules/news";
@import "./modules/share";
@import "./modules/suggestions";
@import "./modules/tags";
@import "./components/post-card";
@import "./components/links";
@import "./components/button";
@import "./views/default";
@import "./views/post";
@import "./views/author";
@import "./modules/menu";

@media (max-width: 1440px) {
  .footer .socials img {
    width: 25px;
  }
}

@media (max-width: 1280px) {
  .logo {
    max-width: 220px;
  }

  .logo img {
    max-width: 220px;
  }
}

@media (max-width: 1160px) {
  .footer .logosmall img {
    width: 100%;
  }

  .menu a {
    font-size: var(--base-spacing);
    padding-left: var(--spacing-large);
  }

  h2 {
    font-size: 24px;
    color: #212020;
  }

  .block {
    max-width: 900px;
    width: 100%;
    margin-bottom: 6%;
  }

  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }

  .footer .socials a {
    margin-right: 2px;
  }
}

@media (max-width: 1170px) {
  hr {
    margin: 11px 0px var(--spacing-xl) 0px;
  }

  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }

  .container {
    padding: 0px var(--spacing-large);
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 22px;
  }

  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }
}

@media (max-width: 690px) {
  .content {
    margin: 0 auto;
  }

  .footer {
    padding: var(--spacing-xl) 0;
  }

  .fullnew .type {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .fullnew .type {
    left: 4.5%;
    top: 25px;
  }
}

.kg-width-wide,
.kg-width-regular,
.kg-width-full {
  display: block;
}
