.author-card
  display flex
  align-items center
  color inherit
  background white
  border solid 1px black
  padding spacing-large
  font-family font-family-regular

.author-image
  width 60px
  height 60px
  object-fit cover

.author-name
  display block