.post-card {
  position: relative;
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  overflow: hidden;
  min-height: 200px;
  margin: 0 (base-spacing / 2) base-spacing;
  background: #fff 50%;
  background-size: cover;
  border-radius: 0;
  transition: all 0.5s ease;
  
  &:nth-child(6n + 1) {
    flex: 1 1 100%;
  }

  a {
    text-decoration: none;
  }

  &--sm { 
    min-height: 0;
    margin: spacing-large;
  }

  &__image {
    height: 200px;
    width: auto;
    background-size: cover;
    background-position: center;
  }

  &.featured &__image {
    height: 300px;
  }

  &__content { 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__excerpt { 
    p { 
      font: 14px/1.25 'PT Serif', serif;
      margin: 0 0 1.5em;
    }
  }

  &__meta { 
    padding: 0 20px 20px;
    font: 14px/1.25 'PT Serif', serif;
    color: text-color-default;

    a { 
      color: heading-color-active;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tag {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.post-card {
  &.featured { 
    flex: 1 1 100%;
  }
}
.post-card-content  {
  &__link { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    padding: 20px 20px 0;
    color: text-color-default;
  }
}

.post-card-title {
  font-size: 16px;
  margin: 0 0 .5em;
  transition: all 0.2s, transform 0.2s;

  &:hover { 
    color: heading-color-active;
  }
}

.post-card-small {
  padding: spacing;
  font-size: font-size-sm;
  border-top: solid 2px black
}

  

