.post-card 
  position: relative;
  display: flex;
  flex: 1 1 230px;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff 50%;
  background-size: cover;
  transition: all 0.5s ease;
  // Possible improvement to distint between posts
  // .posts-list & 
  //   &:nth-child(2n)
  //     position relative

  //     &:before 
  //       content ''
  //       display block
  //       position absolute 
  //       top 0; left 0; right 0; bottom 0;
  //       background-color rgba(0, 0, 0, 0.8)
  //       z-index 1

  //     .post-card-image__link 
  //       height 200px
          
  //       .post-card__image 
  //         position absolute 
  //         top 0 
  //         left 0
  //         right 0 
  //         bottom 0
  //         display block
      
  //     .post-card__content 
  //       position relative
  //       z-index 1

  //     .post-card__image 
  //       height auto

  //     a 
  //       color white
  //     .post-card-title 
  //       color white

  // &:hover 
  //   box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
  //   transition: all .3s ease;
  //   transform: translate3D(0,-1px,0);
  
  .tag 
    position: absolute;
    top: 0;
    left: 0;

  a 
    text-decoration: none;

  &--sm 
    min-height 0
    margin spacing-large

  &__image 
    height: 200px;
    width: auto;
    background-size: cover;
    background-position: center;
  
  &__content 
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

  &__excerpt 
    p 
      font: 16px/1.25 'PT Serif', serif;
      margin: 0 0 1.5em;

  &__meta 
    padding: 0 20px 20px;
    font: 16px/1.25 'PT Serif', serif;
    
    a 
      color: heading-color-active;

      &:hover 
        text-decoration: underline;

.post-card
  &.featured 
    .post-card-content__link
      color: white
    .post-card-title 
      font-size font-size-heading-large
      color white

.post-card-content 
  &__link 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none;
    padding: 20px 20px 0;
    color: text-color-default;

.post-card-title 
  font-size: 22px;
  margin: 0 0 .5em;
  transition: all 0.2s, transform 0.2s;

  &:hover 
    color: $heading-color-active;

.post-card-small 
  padding spacing
  font-size font-size-sm
  border-top solid 2px black


  

