.button {
    color: #212020 !important;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    font-family: 'proxima_nova_rgbold';
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration:none !important;
    border: 2px solid #212020;
    
    &:hover {
        background-color: #212020;
        color: #fff !important;
        text-decoration:none;
    }

    &.more {
        font-size: 18px;
        padding: 17px 20px;
        margin-bottom: 15px;
        border: 2px solid #212020;
    }

    span {
        text-decoration:none !important;
    }
}