.fltrt {
  float: right;
  margin-left: 8px;
}

.fltlft {
  float: left;
  margin-right: 8px;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.clearfloat2:after {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
  display: block;
  content: "";
}

.rela {
  position: relative;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  z-index: 2;
  max-width: 128rem;
  padding: 0 base-spacing;
  margin: 0 auto;
  position: relative;
}

.content {
  padding: spacing-large 0;

  &--post {
    margin: 0;
    flex: 1 1 100rem;
  }

  &.full {
    margin: 0;
    
    .button.more {
      max-width: 46%;
      margin: 0 auto;
    }
  }
    

  &.home-template {
    display flex
    flex-direction column
    margin: 0
  }
}

.image {
  max-width: 100%;

  &--rounded {
    position: relative;
    border-radius: 100%;
    vertical-align: center;
    text-align: center;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
    }
  }
}

.sidebar2 {
  flex: 0 0 28rem;
}

body.pmt {
  overflow: hidden;
}