@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/helpers";
@import "base/mixins";

@import "layout/grid";
@import "layout/states";
@import "layout/buttons";

@import "modules/header";
@import "modules/footer";
@import "modules/commercial";
// -- main blog navigation
@import "modules/menu";
@import "modules/navigation";
@import "modules/site-nav";
// -- navigation
@import "modules/news";
@import "modules/search";
@import "modules/suggestions";
@import "modules/post-feed";
@import "modules/share";
@import "modules/posts";
@import "modules/highlight";

@import "components/author";
@import "components/read-next-card";
@import "components/post-card";
@import "components/floating-header";
@import "components/tags";
@import "components/spotlight";

@import "views/base"
@import "views/default";
@import "views/page";
@import "views/post";
@import "views/tag";
@import "views/author";

@media all and (max-width:1440px) {
  .reklin h2 {
    padding-top: 12%;
    font-size: 20px;
  }
  .block .zatem .post-title {
    font-size: 25px;
  }
  .footer .socials img {
    width: 25px;
  }
  .footer .sidebar1 {
    font-size: 14px;
  }
  .footmenu a {
    font-size: 13px;
    margin-right: 1%;
  }
}
@media all and (max-width:1280px) {
  .reklin h2 {
    padding-top: 10%;
    font-size: 18px;
  }
}

@media all and (max-width:1160px) {
  .footer .logosmall img {
    width: 100%;
  }
  .menu a {
    font-size: 15px;
    padding-left: 20px;
  }
  .block .zatem .post-title {
    font-size: 22px;
  }
  h2 {
    font-size: 24px;
    color: #212020;
  }
  .block {
    max-width: 900px;
    width: 100%;
    margin-bottom: 6%;
  }
 
  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }
  .footer .socials a {
    margin-right: 2px;
  }
}

@media all and (max-width:1170px) {
  .menu {
    visibility: hidden;
    margin-top: -9000px;
  }
  .menu-button {
    padding: 18px;
    display: block;
  }
  .search-init {
    display: none;
  }
  body.pmt div.menu {
    display: block;
    position: absolute;
    bottom: 0;
    min-height: 500px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
    margin-left: 0;
    background-color: #fbfbfb;
    padding-top: 73px;
    padding-bottom: 144px;
    visibility: visible;
    margin-top: 0px;
    padding-right: 0px;
  }
  
    .menu-button {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media all and (max-width:1170px) {
  .menu-button {
    padding: 18px;
    display: block;
  }

  hr {
    margin: 11px 0px 30px 0px;
  }

  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }

  .menu {
    visibility: hidden;
    margin-top: -9000px;
  }

  .menu-button {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .menu-button div {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  body.pmt div.menu a {
    height: 50px;
    line-height: 50px;
    width: 100%;
  }

  body.pmt .menu {
    display: block;
  }

  body.pmt div.menu a {
    font-size: 16px;
  }

  body:not(.pmt) {
    height: auto !important;
  }

  body:not(.pmt) .container {
    height: auto !important;
  }

  body.pmt .menu {
    overflow: visible;
  }

  body.pmt header {
    overflow: visible;
    padding-top: 122px;
  }

  body.pmt a.logo {
    position: absolute;
    z-index: 4;
  }

  body.pmt div.menu {
    display: block;
    position: absolute;
    bottom: 0;
    min-height: 500px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
    margin-left: 0;
    background-color: #fbfbfb;
    padding-top: 73px;
    padding-bottom: 144px;
    visibility: visible;
    margin-top: 0px;
  }

  body.pmt div.menu a {
    display: block;
    padding: 0px;
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  body.pmt header div.menu li:hover a {
    color: #fff;
  }

  body.pmt div.menu a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 18px;
    color: #000;
    padding: 0px;
    margin: 0;
    height: 48px;
    line-height: 52px;
    width: 100%;
    text-transform: uppercase;
  }

  .header {
    padding: 0px 0px;
  }

  .logo img {
    max-width: 236px;
    margin-top: 8px;
  }

  #search {
    display: none;
  }

  .container {
    padding: 0px 20px;
  }
}

@media all and (max-width:800px) {
  h2 {
    font-size: 22px;
  }
  .reklin h2 {
    padding-top: 8%;
    font-size: 13px;
  }
  .news a {
    font-size: 16px;
  }
  .mateblock .block:nth-child(2n) {
    margin-left: 0%;
  }
  .block .zatem .post-title {
    font-size: 16px;
  }
}
@media all and (max-width:690px) {
  .sidebar1 {
    display: none;
  }

  .sidebar2 {
    display: none;
  }

  .content {
    margin: 0 auto;
  }

  .mobileblock {
    display: block;
    float: none;
    padding: 0px 20px 20px 20px;
    max-width: 900px;
    width: 100%;
    padding-bottom: 0px;
    margin: 15px 0px;
  }

  .footer .sidebar1 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px 0;
  }

  .prefot {
    padding: 0px 20px;
  }

  .footmenu {
    text-align: center;
  }

  .footer {
    padding: 30px 0;
  }

  .footmenu {
    padding-bottom: 20px;
  }

  .fullnew .type {
    /*top: 10px;
    left: 10px;*/
	  font-size: 14px;
  }
}

@media all and (max-width:560px) 
	.fullnew .type 
    left: 4.5%;
		top: 25px
/* MEDIA */