.clearfloat2:after {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
  display: block;
  content: "";
}

.relative {
  position: relative;
}

.container {
  z-index: 2;
  max-width: 1536px;
  padding: 0px 50px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1170px) {
    padding: 0px var(--spacing-large);
  }
}

.image {
  max-width: 100%;
}

body.pmt {
  overflow: hidden;
}
