@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fdbue2');
  src:  url('../fonts/icomoon.eot?fdbue2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fdbue2') format('truetype'),
    url('../fonts/icomoon.woff?fdbue2') format('woff'),
    url('../fonts/icomoon.svg?fdbue2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
  color: #3a589b;
}
.icon-tw:before {
  content: "\e901";
  color: #598dca;
}
.icon-vk:before {
  content: "\e902";
  color: #4e719b;
}
.icon-close:before {
  content: "\e903";
}
.icon-search_icon:before {
  content: "\e904";
  font-size: 12px;
}
